.advantages {
  padding-block: 20px;
  padding-inline: calc((100% - 290px) / 2);
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-block: 40px;
    padding-inline: calc((100% - 678px) / 2);
    background-image:
      image-set(
        url("../../img/clouds/clouds-3-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/clouds/clouds-3-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/clouds/clouds-3-tablet@2x.png") 2x,
        url("../../img/clouds/clouds-3-tablet@1x.png") 1x
      );
    background-repeat: no-repeat;
    background-size: 2091px 996px;
    background-position: bottom 103px left 50%;
  }

  @media (min-width: $desktop-width) {
    padding-block: 100px;
    padding-inline: calc((100% - 1440px) / 2);
    background-image:
      image-set(
        url("../../img/clouds/clouds-3-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/clouds/clouds-3-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/clouds/clouds-3-desktop@2x.png") 2x,
        url("../../img/clouds/clouds-3-desktop@1x.png") 1x
      );
    background-repeat: no-repeat;
    background-size: 2091px 447px;
    background-position: left calc(((100% + 2091px) - 1440px) / 2 - 312px) top -281px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 23px;

  @media (width < $tablet-width) {
    padding-block: 16px 14px;
  }

  @media (width >= $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 35px 0;
  }

  &::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__slider {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (width < $tablet-width) {
    flex-direction: column;
    row-gap: 15px;
  }

  @media ($tablet-width <= width < $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.advantages__item-content.swiper-slide {
  padding: 19px 9px;
  box-sizing: border-box;
  border: 1px solid rgba(2, 102, 193, 0.1);
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media ($tablet-width <= width <= $desktop-width) {
    max-width: 324px;
    padding: 29px 19px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    min-width: 380px;
    height: auto;
    padding: 39px 19px;
  }
}

.advantages__item-content {
  &::before {
    content: "";
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid $basic-secondary;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      width: 54px;
      height: 54px;
      margin-bottom: 30px;
    }
  }

  &--shield::before {
    background-image: url("/__spritemap#sprite-icon-shield-view");
  }

  &--crown::before {
    background-image: url("/__spritemap#sprite-icon-crown-view");
  }

  &--boots::before {
    background-image: url("/__spritemap#sprite-icon-boots-view");
  }

  &--path::before {
    background-image: url("/__spritemap#sprite-icon-path-view");
  }

  &--leaf::before {
    background-image: url("/__spritemap#sprite-icon-leaf-view");
    background-size: 22px 16px;
  }

  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  p {
    margin: 0;

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  br {
    display: none;
  }

  p:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.advantages__slider-buttons {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
}
