.contacts {
  padding-block: 20px 19px;
  border-bottom: 1px solid rgba(45, 56, 63, 0.2);

  @media (min-width: $tablet-width) {
    padding-block: 40px 39px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 100px 95px;
    padding-inline: calc((100% - 1200px) / 2);
    display: flex;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    width: 600px;
    padding: 0;
    margin: 0;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-block: 20px 0;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 19px 1px;
    margin-bottom: 25px;
  }
}

.contacts__text-content {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 480px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    margin-bottom: 50px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  p:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    flex-wrap: wrap;
    column-gap: 39px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    row-gap: 35px;
    margin-bottom: 0;
  }
}

.contacts__item {
  padding-left: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
  }

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 26px;
      height: 26px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--tel::before {
    background-image: url("/__spritemap#sprite-icon-phone-view");
  }

  &--mail::before {
    background-image: url("/__spritemap#sprite-icon-mail-view");
  }

  &--address::before {
    background-image: url("/__spritemap#sprite-icon-pinstroke-view");
  }

  a:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  a:focus-visible {
    color: $basic-secondary;
  }

  a:active {
    color: $basic-accent;
  }
}

.contacts__item-title {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
  }
}

.contacts__information {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.contacts__map {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    margin: 0;
    align-self: center;
  }

  img {
    display: block;
  }
}
