.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  font-family: $font-famyly;
  color: $basic-primary;
  background-color: $white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  min-width: 400px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body-main {
  flex-grow: 1;
}
