.page-header {
  padding-block: 15px 13px;
  background-color: $basic-secondary;
  color: $white;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    padding-block: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 32px;
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  justify-items: right;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 205px 1fr 157px;
    column-gap: 30px;
    align-items: center;
  }
}

.page-header__logo {
  width: 142px;
  height: 42px;
  grid-area: 1 / 1;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    padding-block: 10px;
  }
}

.page-header__navigation {
  grid-area: 1 / 1;
  justify-self: left;
  align-self: stretch;

  @media (min-width: $desktop-width) {
    grid-column: 2;
    justify-self: center;
  }
}

.page-header__link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  transition: color 0.2s ease;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    grid-column: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.4s ease;
  }

  &:focus-visible {
    outline: none;
    color: $additional-accent;
  }

  &:active {
    color: $basic-accent;
  }

  &--disabled {
    color: $color-disabled;
    cursor: default;
    pointer-events: none;
  }
}
