.tours-card {
  color: $white;
  background-color: $basic-primary;
}

.tours-card__ilusttration {
  width: 290px;
  height: 416px;
  grid-area: 1 / 1;

  @media (min-width: $tablet-width) {
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
  }

  img {
    object-fit: cover;
  }
}

.tours-card__content {
  grid-area: 1 / 1;
  align-self: flex-end;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 3;
}

.tours-card__information {
  display: flex;

  gap: 12px 4px;

  justify-content: space-between;
  margin-bottom: 1px;
  flex-wrap: wrap;
}

.tours-card__place {
  margin: 0;
  padding: 6px 12px;
  background-color: $basic-secondary;
  line-height: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
  }

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-icon-pin-view");
    background-size: 9px 12px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.tours-card__stats-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 14px;
  align-items: center;
}

.tours-card__stats {
  margin: 0;
  line-height: 12px;
  font-weight: 500;
  display: flex;
  gap: 12px;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--days::before {
    background-image: url("/__spritemap#sprite-icon-sun-view");
    background-size: 20px 20px;
  }

  &--nights::before {
    background-image: url("/__spritemap#sprite-icon-moon-view");
    background-size: 16px 16px;
  }
}

.tours-card__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background-color: $white;
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: -15px;
  }
}

.tours-card__details {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.tours-card__details-item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.tours-card__details-subtitle {
  line-height: 12px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }
}

.tours-card__details-value {
  margin: 0;

  margin-top: 3px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;

  &--stars {
    margin-top: 0;
  }
}

.tours-card__details-stars {
  width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-icon-star-view");
  background-repeat: space no-repeat;
  background-size: 16px 14px;
  background-position: center;

  &::after {
    content: "";
    display: block;
    height: 16px;
    background-image: url("/__spritemap#sprite-icon-markstar-view");
    background-repeat: space no-repeat;
    background-size: 16px 14px;
    background-position: center;
  }

  &--five-star::after {
    width: 84px;
  }

  &--four-star::after {
    width: 67px;
  }

  &--three-star::after {
    width: 50px;
  }

  &--two-star::after {
    width: 33px;
  }

  &--one-star::after {
    width: 16px;
  }
}
