/* Шрифты */
$font-famyly: "Montserrat", "Arial", sans-serif;

/* Colors */
$white: #ffffff;
$basic-primary: #2d383f;
$basic-secondary: #0266c1;
$basic-accent: #1c3374;
$additional-accent: #2d383f;
$color-error: #ff121f;
$color-disabled: #999999;

/* Ширина */
$tablet-width: 768px;
$desktop-width: 1440px;
